@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: #2e2a68;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
.card-container {
  background: rgb(76, 18, 170);
  background: linear-gradient(
    90deg,
    rgba(76, 18, 170, 1) 0%,
    rgba(76, 40, 135, 1) 100%
  );
  width: 800px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
p {
  font-size: 18px;
}
.card-header {
  padding: 40px;
}
.user-img-bio {
  display: flex;
  margin: 0;
  padding: 0;
}
.user-bio {
  padding-left: 50px;
  margin: 0;
}
.user-stats {
  margin-top: 0;
}
img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 10px solid #2a2a72;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-left: 65px;
}
.search-user {
  padding-bottom: 40px;
  width: 300px;
  margin: auto;
}
input {
  height: 50px;
  width: 250px;
  background-color: #4c2885;
  padding: 30px;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0.1, 0.1);
}
#search-bar:focus {
  outline: 0px solid transparent;
}
::placeholder {
  color: #bbbbbb;
  text-align: center;
  font-size: 1.2rem;
}
.user-repos {
  margin-top: 50px;
  margin-left: 35px;
}
.user-repos ul {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
}
.user-repos ul li {
  background: #2a2a72;
  font-size: 12px;
  text-align: center;
  width: fit-content;
  padding: 10px;
  border-radius: 4px;
}
